# Project_1: How debts impact people's lives and their status of loan based on personal parameters.

#Loan_dataset_EDA & Plotting

In [7]:
#import all required dependencies for this EDA project:

import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')

In [12]:
# accessing the stored csv file path and read the data:
file_path_1 = Path("data/LoanDataset - LoansDatasest.csv")
file_path_2 = Path("data/debt_impact_data (2).csv")

#reading the csv file:
Loan_df = pd.read_csv(file_path_1)
impact_df = pd.read_csv(file_path_2)

In [13]:
# checking:
Loan_df.head()

,customer_id,customer_age,customer_income,home_ownership,employment_duration,loan_intent,loan_grade,loan_amnt,loan_int_rate,term_years,historical_default,cred_hist_length,Current_loan_status
0,1.0,22,59000,RENT,123.0,PERSONAL,C,"£35,000.00",16.02,10,Y,3,DEFAULT
1,2.0,21,9600,OWN,5.0,EDUCATION,A,"£1,000.00",11.14,1,NaN,2,NO DEFAULT
2,3.0,25,9600,MORTGAGE,1.0,MEDICAL,B,"£5,500.00",12.87,5,N,3,DEFAULT
3,4.0,23,65500,RENT,4.0,MEDICAL,B,"£35,000.00",15.23,10,N,2,DEFAULT
4,5.0,24,54400,RENT,8.0,MEDICAL,B,"£35,000.00",14.27,10,Y,4,DEFAULT

In [14]:
impact_df.head()

,gender,age,profession,occupation,country_of_residence,urban_rural,owns_car,salary,cost_of_living,marital_status,has_kids,num_kids,debt_type,debt_amount,monthly_debt_payment,savings
0,Male,27,Marketing Specialist,Full-Time,United States,Urban,Yes (Loan),42929,Medium,Single,No,0,Student Loan,41999,5946,11612
1,Female,40,Pilot,Full-Time,United States,Rural,Yes (Loan),69733,High,Single,Yes,1,Student Loan,39599,4459,16244
2,Female,40,Writer,Full-Time,United States,Rural,Yes (Owned),116838,High,Single,No,1,Student Loan,38987,4953,10657
3,Female,37,Writer,Full-Time,United States,Rural,No,49245,High,Married,No,0,Student Loan,27108,735,12349
4,Male,23,Musician,Full-Time,United States,Rural,Yes (Loan),45168,Medium,Married,No,0,Student Loan,23551,6588,19260