In [3]:
import pandas as pd

In [4]:
print('How you doin')

How you doin

In [5]:
df_school = pd.read_csv(r"C:\Users\karki\Desktop\Class Activities\Export\Starter_Code\PyCitySchools\Resources\students_complete.csv")
df_school.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69